@import "@fontsource/manrope/scss";

:root {
  --font-manrope: "Manrope", sans-serif;
}

.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}

html, body {
  font-family: var(--font-manrope);
}
